body{
    margin:0;
    
}

.firstblock{
    background-image: url("background.png");
    height: 488px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    margin-top: 5%;
    margin-left: 15%;
}

.header_list{
    margin-top: 5%;
    list-style: none;
    display: flex;   
    gap: 20%;   
    font-size: 20px;
   
}

.header{
    display: flex;  
    gap: 20%;
}

.header_list a{
    color: rgb(203, 207, 209);
    text-decoration: none;
}
.header_list a:hover {
    text-decoration: underline;
}

.coffe_icon {
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: auto;

}

.introducing {
    display: flex;
}

.introducing h1{
    font-size: 50px;
    font-weight: 100;
    color: aliceblue;
    margin-bottom: 0px;
    margin-top: 100px;
}

.introducing p{
    font-size: 30px;
    color: rgb(203, 207, 209);
    margin-top: 0px;
}

.introducing_title{
    margin-left: 5%;
}

.TryDemo {
    background-color: rgb(52, 134, 120);
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

.TryDemo:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}

.arrow_left{
    background-color: transparent;
    border: none;
    margin: 10% 5%;
    padding: 0;
    block-size: 0%;
    opacity: 30%;
 
}

.arrow_right{
    background-color: transparent;
    border: none;
    margin: 10% 20%;
    padding: 0;
    block-size: 0%;
    opacity: 30%;

}


.arrow_left:hover{
    opacity: 80%;
}

.arrow_right:hover{
    opacity: 80%;
}

.secondblock{
    height: 1750px;
    width: 1280px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

.hexagon figure{
    margin-top: 7%;     
}

.hexagon {
    display:flex;
    justify-content: center;
}

.font{
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
}

.ipad{
    width: 1023px;
    height: 781px;
    margin: auto;
    margin-top: 5%;
    box-shadow: 0px 0px 3px 2px rgb(196, 196, 196);
}

