
.firstblock{
    background-image: url("background.png");
    height: 488px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    margin-top: 5%;
    margin-left: 15%;
}

.header_list{
    margin-top: 5%;
    list-style: none;
    display: flex;   
    gap: 20%;   
    font-size: 20px;
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
}

.header{
    display: flex;  
    gap: 20%;
}

.header_list a{
    color: rgb(203, 207, 209);
    text-decoration: none;
}
.header_list a:hover {
    text-decoration: underline;
}

.coffe_icon {
    margin-left: 5%;
    margin-top: 5%;
}

.introducing {
    display: flex;
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
}

.introducing h1{
    font-size: 50px;
    font-weight: 100;
    color: aliceblue;
    margin-bottom: 0px;
    margin-top: 100px;
}

.introducing p{
    font-size: 30px;
    color: rgb(203, 207, 209);
    margin-top: 0px;
}

.introducing_title{
    margin-left: 5%;
}

.TryDemo {
    background-color: rgb(52, 134, 120);
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.arrow_l{
    background-color: transparent;
    border: none;
    margin: 10% 5%;
    padding: 0;
    block-size: 0%;
}

.arrow_r{
    background-color: transparent;
    border: none;
    margin: 10% 20%;
    padding: 0;
    block-size: 0%;
}

.arrow_l:hover{
    opacity: 5%;
}

.arrow_r:hover{
    opacity: 5%;
}
