body {
    margin: 0;
    background-color:#191919;
}

body p{
    margin: 0;
}

.default_font{
    font-family: 'DM Sans', sans-serif;
}

.logo{
   color: aliceblue; 
   width: 160px;
   height: 33px;
   margin: 0 0 0 50px;
   font-size: 33px;   
}

.header_list{
    display: flex;
    list-style-type: none; 
    gap: 20%;   
    margin: 1.2% 0 0 54%;
}

.header_list a{
    color:#FFFFFF;
    font-size: 17px;
    text-decoration: none;
    
}

.header{
    display: flex;
    margin-top: 20px;
}